[submodule "vendor/com.github/ricardoniepel/azure-plantuml"]
	path = vendor/github.com/ricardoniepel/azure-plantuml
	url = git@github.com:RicardoNiepel/Azure-PlantUML.git
[submodule "vendor/com.github/ricardoniepel/c4-plantuml"]
	path = vendor/github.com/ricardoniepel/c4-plantuml
	url = git@github.com:RicardoNiepel/C4-PlantUML.git
